.SideBySideVote {
  height: 30px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.SideBySideVote-up-arrow {
  height: 17px;
}

.SideBySideVote-upvote-score {
  font-size: 17px;
  color: var(--gray);
  margin: 7px;
}

.SideBySideVote-down-arrow {
  height: 17px;
}
