.BottomBar {
  height: 50px;
  margin-top: 5px;
  width: 100%;
  align-items: center;
}

.BottomBar-previous {
  margin-left: 12px;
  float: left;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.BottomBar-next {
  margin-right: 12px;
  float: right;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
