
.signin {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: white;
}

.signin-header {
    text-align: center;
    margin: 0px;
}

.signin-username {
    font-size: 25px;
}

.signin-password {
    font-size: 25px;
}

.signin-login-link {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.signin-account-text {
    margin: 0;
}
