
.signin {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: white;
}

.signin-header {
    text-align: center;
    margin: 0px;
}

input {
    font-size: 25px;
    margin-bottom: 0px;
}

input.error {
    border: 3px solid #eb516d;
    outline: none;
}


.signin-login-link {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.signin-account-text {
    margin: 0;
}

.signin-username-error, .signin-password-error {
    color: red;
    margin-top: 0px;
    margin-bottom: 8px;
}
